body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: "Segoe UI", sans-serif;
}
pre {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
a {
    color: #4fc3f7;
}
